.form-control-input{
	float:left;
	display: block;
    width: 250px;
    height: 30px;
    padding: 0px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-input-w250{
	width:250px !important;
	border-radius: 4px 0px 0px 4px;
}

.form-btn{
	border: 1px solid #ccc;
	height:30px;
	border-radius: 0px 4px 4px 0px;
}
.form-div{
	padding-right:0px;
}